@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

.container {
    font-family: 'Montserrat', sans-serif;
}

.about-headline {
    font-size: 1.5rem;
    margin-top: 30px;
}

.sign__word {  
    background-image: linear-gradient(120deg, #fa9284 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.1s ease-in;
}

.sign__word:hover {
    background-size: 100% 88%;
}

.about-description {
    margin-top: 10px;
}

.about-qualities {
    margin-top: 10px;
}

.about-services {
    margin-top: 10px;
}

.about-skills {
    margin-top: 10px;
}