@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

.container {
    display: block;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
.work-cards {
    width: 800px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12%;
}

.card {
    margin-top: 25px;
    margin-left: 25px;
}

.card-headline {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: -3%;
}

.card-description {
    font-size: 0.75rem;
    font-weight: 300;
    margin-left: -3%;
}